body {
    letter-spacing: 0;
    font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",sans-serif;
    color: #bdbdbd;
    background-color: #000;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 98vh;
}
.header, .left-bar, .middle-bar, .right-bar, .footer {
    color: #bdbdbd;
    background: #222;
    border: 1px solid #363636;
}
.header {
    grid-area: 1 / 1 / 2 / 4;
}
.middle-bar {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    overflow:hidden;
}
.left-bar {
    grid-area: 2 / 3 / 3 / 4;
}
.right-bar {
    grid-area: 3 / 2 / 4 / 4;
}
.footer {
    grid-area: 2 / 1 / 4 / 2;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -60px;
}